/* .container {
  flex: 0 0 auto;
  width: 100%;
  max-width: max-content;
  background-color: #121212;
  margin-bottom: 16px;
}
.arrow {
  display: flex;
  justify-content: space-between;
}

.AlbumCard {
  display: flex;
  margin-left: 10px;
  gap: 40px;
} */

.wrapper{
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}